@define-color color_light_background #eff0f1;
@define-color color_bg_inactive #c7c8c9;
@define-color color_border #3daee9;
@define-color color_dark_background #1b1e20;

* {
	border-style: none;
	border-radius: 0px;
	font-family: Tinos Nerd Font, sans-serif;
	font-size: 16px;
	min-height: 0;
}

.background,
.widget label,
.workspaces .item,
.popup-clock .calendar,
.tray,
.tray .item,
.popup,
box,
menubar,
button {
		background: @color_dark_background;
 		color: white;
}

.workspaces .item.focused label {
		color: @color_border;
		border-bottom: 2px solid @color_border;
		border-top: 2px solid @color_border;
}
