@import "colors.css";

* {
	border: none;
	border-radius: 12;
  font-family: "JetbrainsMono Nerd Font" ;
  font-size: 18px;
	min-height: 10px;
}

window#waybar {
	background: @base00;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces {
    padding: 0 5px;
    background: @base01;
    margin: 3px
}

#workspaces button {
    padding: 2px 2px;
    color: @base05;
    border: 2px solid transparent;
}

#workspaces button:hover {
    background: @base02;
    border: 2px solid transparent;
}

#workspaces button.focused {
    color: @base0D;
    border: 2px solid @base0D;
}

#workspaces button.urgent {
    color: @base0A;
    border: 2px solid @base03;
}

#tray, #idle_inhibitor, #clock, #custom-notification, #pulseaudio, #battery {
    background: @base01;
    color: @base05;
    margin: 3px;
    min-height: 32px;
}

#idle_inhibitor.deactivated {
    color: @base05;
}

#idle_inhibitor.activated {
    color: @base08;
}

#pulseaudio.muted {
    color: @base03;
}

#battery.charging {
    color: @base0B;
}

#battery.discharging.bat30, #battery.discharging.bat40, #battery.discharging.bat50, #battery.discharging.bat60, #battery.discharging.bat70, #battery.discharging.bat80, #battery.discharging.bat90, #battery.discharging.bat100 {
    color: @base0A;
}

#battery.discharging.bat10, #battery.discharging.bat20 {
    color: @base08;
}

#custom-notification.notification {
    color: @base0A;
}

#custom-notification.inhibited-notification {
    color: @base08;
}

#custom-close {
    color: @base05;
    font-size: 24px;
    margin: 3px;
    min-height: 32px;
}

#custom-sirula {
    color: @base05;
    font-size: 24px;
    margin: 3px;
    min-height: 36px;
}
